p{
    line-height: 24px;
    font-family: 'Segoe UI';
    font-size: 18px;
    color: #473E3F
}
body{
   background-color: green;
   
}

img {
    width: 150px;
    height: 150px;

}
a:link {
    color: #473E3F;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-decoration: none;
}

a:visited {
    color: #473E3F;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: #473E3F;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-decoration: none;
}

a:active {
    color: #473E3F;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-decoration: none;
}
div.buttons {
    border: 2px solid;
    border-color: #8EDC9D;

}
div.buttons:hover{
    border: 2px solid;
    border-color: green;

}
